* {
    font-size: 10px;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.keys {
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.key {
    border: 0.4rem solid black;
    border-radius: 0.5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem 0.5rem;
    transition: all 0.7s ease;
    width: 10rem;
    text-align: center;
    color: rgb(204, 216, 255);
    background-color: darkblue;
    text-shadow: 0 0 0.5rem white;
}

kbd {
    display: block;
    font-size: 4rem;
}

.playing {
    transform: scale(1.1);
    border-color: whitesmoke;
    box-shadow:  0 0 1rem white;
}

.sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: white;
}